USE [MPalominoProgramacionNCapas]
GO
/****** Object:  StoredProcedure [dbo].[ColoniaGetByIdMunicipio]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ColoniaGetByIdMunicipio]
@IdMunicipio INT
AS
SELECT [IdColonia]
      ,[Nombre]
      ,[CodigoPostal]
  FROM [dbo].[Colonia]
  WHERE IdMunicipio = @IdMunicipio
GO
/****** Object:  StoredProcedure [dbo].[DireccionGetByIdColonia]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DireccionGetByIdColonia]
@IdColonia INT
AS
SELECT [IdDireccion]
      ,[Calle]
      ,[NumeroInterior]
      ,[NumeroExterior]
      ,[IdUsuario]
  FROM [dbo].[Direccion]
  WHERE IdColonia = @IdColonia
GO
/****** Object:  StoredProcedure [dbo].[GetAllEstado]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllEstado]
AS
SELECT  IdEstado, Nombre
FROM Estado
GO
/****** Object:  StoredProcedure [dbo].[MunicipioGetByIdEstado]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MunicipioGetByIdEstado]
@IdEstado INT
AS
SELECT [IdMunicipio]
      ,[Nombre]
  FROM [dbo].[Municipio]
  WHERE IdEstado = @IdEstado
GO
/****** Object:  StoredProcedure [dbo].[TranInsert]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[TranInsert]
    @UserName VARCHAR(50),
    @Nombre VARCHAR(50),
    @ApellidoPaterno VARCHAR(50),
    @ApellidoMaterno VARCHAR(50),
    @Email VARCHAR(255),
    @Password VARCHAR(50),
    @Sexo CHAR(2),
    @Telefono VARCHAR(20),
    @Celular VARCHAR(20),
    @FechaNacimiento DATE,
    @Curp VARCHAR(50),
    @IdRol INT,
    @Imagen VARBINARY(MAX),
    @Descripcion VARCHAR(100),
    @NombreImg VARCHAR(100),
    @Calle VARCHAR(50),
    @NumeroInterior VARCHAR(20),
    @NumeroExterior VARCHAR(20),
    @IdColonia INT
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        INSERT INTO Usuario (UserName, Nombre, ApellidoPaterno, ApellidoMaterno, Email, Password, Sexo, Telefono, Celular, FechaNacimiento, Curp, IdRol)
        VALUES (@UserName, @Nombre, @ApellidoPaterno, @ApellidoMaterno, @Email, @Password, @Sexo, @Telefono, @Celular, @FechaNacimiento, @Curp, @IdRol)

        DECLARE @IdInsertado INT
        SET @IdInsertado = SCOPE_IDENTITY()

        INSERT INTO ImagenUsuario (IdUsuario, Imagen, Descripcion, Nombre)
        VALUES (@IdInsertado, @Imagen, @Descripcion, @NombreImg)

        INSERT INTO Direccion (IdUsuario, Calle, NumeroExterior, NumeroInterior, IdColonia)
        VALUES (@IdInsertado, @Calle, @NumeroExterior, @NumeroInterior, @IdColonia)

        COMMIT
    END TRY
    BEGIN CATCH
        ROLLBACK
       
    END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[UsuarioAdd]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioAdd]
	@UserName VARCHAR(50),
    @Nombre VARCHAR(50),
    @ApellidoPaterno VARCHAR(50),
    @ApellidoMaterno VARCHAR(50),
    @Email VARCHAR(255),
    @Password VARCHAR(50),
    @Sexo CHAR(2),
    @Telefono VARCHAR(20),
    @Celular VARCHAR(20),
    @FechaNacimiento VARCHAR(10),
    @Curp VARCHAR(50),
    @IdRol INT
AS
BEGIN
INSERT INTO Usuario
(UserName,Nombre, ApellidoPaterno, ApellidoMaterno, Email, Password, Sexo, Telefono, Celular, FechaNacimiento, Curp,IdRol) 
VALUES (@UserName,@Nombre, @ApellidoPaterno, @ApellidoMaterno, @Email, @Password, @Sexo, @Telefono, @Celular, (CONVERT (DATE, @FechaNacimiento,105)), @Curp,@IdRol)
END


GO
/****** Object:  StoredProcedure [dbo].[UsuarioDelete]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioDelete]
	@IdUsuario INT
AS
BEGIN
DELETE FROM Usuario 
WHERE IdUsuario = @IdUsuario
END


GO
/****** Object:  StoredProcedure [dbo].[UsuarioGet]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGet]
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@IdRol INT

AS	
	DECLARE @NombreSinAcentos VARCHAR(50)
	SET @NombreSinAcentos = dbo.EliminarAcentos(@Nombre)

	DECLARE @ApellidoPaternoSinAcentos VARCHAR(50)
	SET @ApellidoPaternoSinAcentos = dbo.EliminarAcentos(@ApellidoPaterno)

	DECLARE @ApellidoMaternoSinAcentos VARCHAR(50)
	SET @ApellidoMaternoSinAcentos = dbo.EliminarAcentos(@ApellidoMaterno)

    SELECT Usuario.[IdUsuario]
			,Usuario.[UserName]
			,Usuario.[Nombre] AS UsuarioNombre
			,Usuario.[ApellidoPaterno]
			,Usuario.[ApellidoMaterno]
			,Usuario.[Email]
			,Usuario.[Password]
			,Usuario.[Sexo]
			,Usuario.[Telefono]
			,Usuario.[Celular]
			,CONVERT (varchar, Usuario.FechaNacimiento,105) AS FechaNacimiento
			,Usuario.[Curp]
			,Usuario.[IdRol]
			,Rol.Nombre AS RolNombre
			
	FROM [Usuario]                                    
	LEFT JOIN Rol 
	ON Usuario.IdRol= Rol.IdRol      

	WHERE (dbo.EliminarAcentos(Usuario.Nombre)) LIKE '%' + dbo.EliminarAcentos(@NombreSinAcentos) + '%'
	AND (dbo.EliminarAcentos(Usuario.ApellidoPaterno)) LIKE '%' + dbo.EliminarAcentos(@ApellidoPaternoSinAcentos) + '%'
	AND (dbo.EliminarAcentos(Usuario.ApellidoMaterno)) LIKE '%' + dbo.EliminarAcentos(@ApellidoMaternoSinAcentos)+ '%'
	AND (@IdRol = 0 OR Usuario.IdRol = @IdRol)


	--UsuarioGet '','','',0
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetAll]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetAll]
AS
    SELECT Usuario.[IdUsuario]
			,Usuario.[UserName]
			,Usuario.[Nombre] AS UsuarioNombre
			,Usuario.[ApellidoPaterno]
			,Usuario.[ApellidoMaterno]
			,Usuario.[Email]
			,Usuario.[Password]
			,Usuario.[Sexo]
			,Usuario.[Telefono]
			,Usuario.[Celular]
			,Usuario.[FechaNacimiento]
			,Usuario.[Curp]
			,Usuario.[IdRol]
			,Rol.Nombre AS RolNombre
			
	FROM [Usuario]
	INNER JOIN Rol
	ON Usuario.IdRol= Rol.IdRol

GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetAllDynamic]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetAllDynamic]
@Nombre VARCHAR (50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@IdRol INT
AS
DECLARE @NombreSinAcentos VARCHAR(50)
SET @NombreSinAcentos = dbo.EliminarAcentos(@Nombre);
PRINT @NombreSinAcentos
	DECLARE @ApellidoPaternoSinAcentos VARCHAR(50)
	SET @ApellidoPaternoSinAcentos = dbo.EliminarAcentos(@ApellidoPaterno);
	PRINT @ApellidoPaternoSinAcentos
		DECLARE @ApellidoMaternoSinAcentos VARCHAR(50)
		SET @ApellidoMaternoSinAcentos = dbo.EliminarAcentos(@ApellidoMaterno);
		PRINT @ApellidoMaternoSinAcentos

		DECLARE @querySQL varchar(max) ---scope
		SET @querySQL =

		'SELECT Usuario.[IdUsuario]
			,Usuario.[UserName]
			,Usuario.[Nombre] AS UsuarioNombre
			,Usuario.[ApellidoPaterno]
			,Usuario.[ApellidoMaterno]
			,Usuario.[Email]
			,Usuario.[Password]
			,Usuario.[Sexo]
			,Usuario.[Telefono]
			,Usuario.[Celular]
			,Usuario.[FechaNacimiento]
			,Usuario.[Curp]
			,Usuario.[IdRol]
			,Rol.Nombre AS RolNombre
			
			FROM [Usuario]                                    
			LEFT JOIN Rol 
			ON Usuario.IdRol= Rol.IdRol'
		
		IF(@NombreSinAcentos <> '' OR @ApellidoPaternoSinAcentos <> '' OR @ApellidoMaternoSinAcentos <> '' OR @IdRol <> 0)
		BEGIN
			SET @querySQL = @querySQL + 
				' WHERE dbo.EliminarAcentos(Usuario.Nombre) LIKE ''%' + dbo.EliminarAcentos(@NombreSinAcentos) + '%''' +
				' AND dbo.EliminarAcentos(Usuario.ApellidoPaterno) LIKE ''%' + dbo.EliminarAcentos(@ApellidoPaternoSinAcentos) + '%''' +
				' AND dbo.EliminarAcentos(Usuario.ApellidoMaterno) LIKE ''%' + dbo.EliminarAcentos(@ApellidoMaternoSinAcentos) + '%''' +
				' AND (' + CONVERT(VARCHAR, @IdRol) + ' = 0 OR Usuario.IdRol = ' + CONVERT(VARCHAR, @IdRol) + ')'
		END
		
		PRINT (@querySQL)
		execute (@querySQL)

	
--UsuarioGetAllDynamic 'mich','','',0
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetAllView]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetAllView]
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@IdRol INT
AS
DECLARE @NombreSinAcentos VARCHAR(50)
	SET @NombreSinAcentos = dbo.EliminarAcentos(@Nombre)

	DECLARE @ApellidoPaternoSinAcentos VARCHAR(50)
	SET @ApellidoPaternoSinAcentos = dbo.EliminarAcentos(@ApellidoPaterno)

	DECLARE @ApellidoMaternoSinAcentos VARCHAR(50)
	SET @ApellidoMaternoSinAcentos = dbo.EliminarAcentos(@ApellidoMaterno)

	SELECT *
	FROM VWUsuarioGetALL 

	WHERE (dbo.EliminarAcentos(UsuarioNombre)) LIKE '%' + dbo.EliminarAcentos(@NombreSinAcentos) + '%'
	AND (dbo.EliminarAcentos(ApellidoPaterno)) LIKE '%' + dbo.EliminarAcentos(@ApellidoPaternoSinAcentos) + '%'
	AND (dbo.EliminarAcentos(ApellidoMaterno)) LIKE '%' + dbo.EliminarAcentos(@ApellidoMaternoSinAcentos)+ '%'
	AND (@IdRol = 0 OR IdRol = @IdRol)
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetById]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetById] 
@IdUsuario INT
AS
SELECT Usuario.[IdUsuario]
			,Usuario.[UserName]
			,Usuario.[Nombre] AS UsuarioNombre
			,Usuario.[ApellidoPaterno]
			,Usuario.[ApellidoMaterno]
			,Usuario.[Email]
			,Usuario.[Password]
			,Usuario.[Sexo]
			,Usuario.[Telefono]
			,Usuario.[Celular]
			,CONVERT (varchar, Usuario.FechaNacimiento,105) AS FechaNacimiento
			,Usuario.[Curp]
			,Usuario.[IdRol]
			,Rol.Nombre AS RolNombre
			
	FROM [Usuario]                                    
	JOIN Rol 
	ON Usuario.IdRol= Rol.IdRol  
	WHERE Usuario.IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[UsuarioUpdate]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioUpdate]
	@IdUsuario INT,
	@UserName VARCHAR(50),
    @Nombre VARCHAR(50),
    @ApellidoPaterno VARCHAR(50),
    @ApellidoMaterno VARCHAR(50),
    @Email VARCHAR(255),
    @Password VARCHAR(50),
    @Sexo CHAR(2),
    @Telefono VARCHAR(20),
    @Celular VARCHAR(20),
    @FechaNacimiento VARCHAR(10),
    @Curp VARCHAR(50),
    @IdRol INT
AS
BEGIN
UPDATE Usuario SET 
UserName=@UserName, 
Nombre = @Nombre, 
ApellidoPaterno = @ApellidoPaterno, 
ApellidoMaterno = @ApellidoMaterno, 
Email = @Email,
Password = @Password,
Sexo = @Sexo,
Telefono = @Telefono,
Celular = @Celular,
FechaNacimiento = (CONVERT (DATE, @FechaNacimiento,105)),
Curp = @Curp,
IdRol = @IdRol
WHERE IdUsuario = @IdUsuario
END


GO
/****** Object:  UserDefinedFunction [dbo].[EliminarAcentos]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[EliminarAcentos] (@Texto VARCHAR(50))
RETURNS VARCHAR (50)
AS
BEGIN 
	RETURN (@Texto collate SQL_Latin1_General_Cp1251_CS_AS)
END
GO
/****** Object:  UserDefinedFunction [dbo].[EliminarAcentosEV]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[EliminarAcentosEV] (@Texto NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    SET @Texto = REPLACE(@Texto, 'á', 'a')
    SET @Texto = REPLACE(@Texto, 'é', 'e')
    SET @Texto = REPLACE(@Texto, 'í', 'i')
    SET @Texto = REPLACE(@Texto, 'ó', 'o')
    SET @Texto = REPLACE(@Texto, 'ú', 'u')
    SET @Texto = REPLACE(@Texto, 'Á', 'A')
    SET @Texto = REPLACE(@Texto, 'É', 'E')
    SET @Texto = REPLACE(@Texto, 'Í', 'I')
    SET @Texto = REPLACE(@Texto, 'Ó', 'O')
    SET @Texto = REPLACE(@Texto, 'Ú', 'U')
    SET @Texto = REPLACE(@Texto, 'ñ', 'n')
    SET @Texto = REPLACE(@Texto, 'Ñ', 'N')
    RETURN @Texto
END;
GO
/****** Object:  Table [dbo].[Colonia]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Colonia](
	[IdColonia] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[CodigoPostal] [varchar](50) NOT NULL,
	[IdMunicipio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdColonia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Direccion](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[NumeroInterior] [varchar](20) NOT NULL,
	[NumeroExterior] [varchar](20) NOT NULL,
	[IdColonia] [int] NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImagenUsuario]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImagenUsuario](
	[IdImagenUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Imagen] [varbinary](max) NULL,
	[Descripcion] [varchar](100) NULL,
	[Nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImagenUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Municipio](
	[IdMunicipio] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdEstado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Sexo] [char](2) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Celular] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
	[Curp] [varchar](50) NULL,
	[IdRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[UsuarioGetAllViewEV]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UsuarioGetAllViewEV]
AS
SELECT 
	Usuario.IdUsuario,
	Usuario.UserName,
	Usuario.Nombre AS NombreUsuario,
	Usuario.ApellidoPaterno,
	Usuario.ApellidoMaterno,
	Usuario.Email,
	Usuario.Password,
	Usuario.Sexo,
    Usuario.Telefono,
    Usuario.Celular,
    Usuario.FechaNacimiento,
    Usuario.Curp,
	Usuario.IdRol,
	--Usuario.Imagen,
	--rol
	Rol.Nombre AS NombreRol
	FROM Usuario
		RIGHT JOIN Rol ON Usuario.IdRol = Rol.IdRol

GO
/****** Object:  View [dbo].[VWUsuarioGetALL]    Script Date: 11/6/2025 12:46:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWUsuarioGetALL]
AS 
	SELECT Usuario.[IdUsuario]
			,Usuario.[UserName]
			,Usuario.[Nombre] AS UsuarioNombre
			,Usuario.[ApellidoPaterno]
			,Usuario.[ApellidoMaterno]
			,Usuario.[Email]
			,Usuario.[Password]
			,Usuario.[Sexo]
			,Usuario.[Telefono]
			,Usuario.[Celular]
			,Usuario.[FechaNacimiento]
			,Usuario.[Curp]
			,Usuario.[IdRol]
			,Rol.Nombre AS RolNombre
			
	FROM [Usuario]                                    
	LEFT JOIN Rol 
	ON Usuario.IdRol= Rol.IdRol
GO
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [CodigoPostal], [IdMunicipio]) VALUES (1, N'San Ángel', N'1001', 1)
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [CodigoPostal], [IdMunicipio]) VALUES (2, N'Los Alpes', N'1001', 1)
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [CodigoPostal], [IdMunicipio]) VALUES (3, N'Guadalupe Inn', N'1001', 1)
GO
SET IDENTITY_INSERT [dbo].[Direccion] ON 

INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia], [IdUsuario]) VALUES (2, N'Indios', N'3', N'454', 5, 2029)
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia], [IdUsuario]) VALUES (1002, N'Correo', N'111', N'123', 1017, 3028)
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia], [IdUsuario]) VALUES (1005, N'Indios', N'12', N'200', 2671, 2027)
SET IDENTITY_INSERT [dbo].[Direccion] OFF
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([IdEstado], [Nombre]) VALUES (1, N'Ciudad de Mexico')
INSERT [dbo].[Estado] ([IdEstado], [Nombre]) VALUES (2, N'Baja California')
INSERT [dbo].[Estado] ([IdEstado], [Nombre]) VALUES (3, N'Quintana Roo')
SET IDENTITY_INSERT [dbo].[Estado] OFF
SET IDENTITY_INSERT [dbo].[ImagenUsuario] ON 

SET IDENTITY_INSERT [dbo].[ImagenUsuario] OFF
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (1, N'Álvaro Obregón', 1)
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (2, N'Iztapalapa', 1)
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (3, N'Gustavo A. Madero', 1)
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (1, N'ADMIN')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (2, N'Usuario')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (3, N'Sistemas')
SET IDENTITY_INSERT [dbo].[Rol] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [UserName], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Password], [Sexo], [Telefono], [Celular], [FechaNacimiento], [Curp], [IdRol]) VALUES (2027, N'test2', N'test', N'postmantest', N'postmantest', N'postmantest', N'test', N'M ', N'12345', N'12345', CAST(0xCB480B00 AS Date), N'SDGRGF234', 2)
INSERT [dbo].[Usuario] ([IdUsuario], [UserName], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Password], [Sexo], [Telefono], [Celular], [FechaNacimiento], [Curp], [IdRol]) VALUES (2029, N'mich4', N'Mich', N'palomino', N'gomez', N'test@gmail.com', N'1234', N'F ', N'68457359860', N'36457654758', CAST(0x7C480B00 AS Date), N'LKSHDSJFDSJ', 2)
INSERT [dbo].[Usuario] ([IdUsuario], [UserName], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Email], [Password], [Sexo], [Telefono], [Celular], [FechaNacimiento], [Curp], [IdRol]) VALUES (3028, N'Mich1111', N'Michelle', N'Palomino', N'Gomez', N'test@gmail.com', N'1234', N'F ', N'555555555', N'555555555', CAST(0x68480B00 AS Date), N'PAGM010428HMCLMCA6', 3)
GO
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Colonia]  WITH CHECK ADD FOREIGN KEY([IdMunicipio])
REFERENCES [dbo].[Municipio] ([IdMunicipio])
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD FOREIGN KEY([IdColonia])
REFERENCES [dbo].[Colonia] ([IdColonia])
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[ImagenUsuario]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Municipio]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
